VITE_MENU_BLOB_SAS_URL="https://sthanspoonprod.blob.core.windows.net/board-images?sv=..."
VITE_BLOB_IMAGE_BASE_URL="https://sthanspoonprod.blob.core.windows.net/menu-images"
VITE_BLOB_IMAGE_SAS="?sv=..."
